@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  position: fixed;
  background-color: #ffffff;
  max-width: 100%;
  width: 100vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 100px;
  width: 100px;
}

nav ul {
  padding-right: 15px;
  display: flex;
}

nav ul li {
  padding: 15px;
  list-style: none;
}

nav a {
  color: #000000;
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
}
nav a:hover {
  color: #666666;
}

.heroImage {
  max-width: 100%;
  width: 100vw;
}

.heroImage img {
  width: 100vw;
}

.bodyText {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.bodyText h3 {
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.bodyText p {
  padding: 10px 0 30px 0;
  line-height: 25px;
}

.inputBox {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.inputForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputForm input {
  border: none;
  font-size: 1.5rem;
  padding: 15px;
}
.inputForm input:focus {
  outline: none;
}
